
<div class="alignrows" >
<form #f="ngForm" (ngSubmit)="getDetails(f)">
<mat-card >
<mat-card-title align = "center">Register</mat-card-title>
<mat-card-content class="alignrows">
    <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile> <div class="aligntext"> First Name :</div></mat-grid-tile>
            <mat-grid-tile>
                    <mat-form-field class="alignInput">
                    <input matInput name = "firstName__c" type="text" placeholder="First Name" required [(ngModel)]="firstName__c">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile> <div class="aligntext">Last Name : </div></mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field  class="alignInput">
                    <input matInput name = "lastName__c" type="text" placeholder="Last Name" required [(ngModel)]="lastName__c">
                </mat-form-field>
            </mat-grid-tile>     
                <mat-grid-tile><div class="aligntext">Email :</div></mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field  class="alignInput">
                        <input matInput name = "email__c" placeholder="Email" type="email" required [(ngModel)]="email__c" email = "true">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile><div class="aligntext"> Phone :</div></mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field  class="alignInput">
                        <input matInput placeholder="phone" type="tel" name = "phone__c" required [(ngModel)]="phone__c" maxlength="10" minlength="10" pattern="[7|8|9][0-9]{9}">
                        </mat-form-field>
                    </mat-grid-tile>
                <mat-grid-tile> <div class="aligntext">Password : </div></mat-grid-tile>
                <mat-grid-tile> 
                        <mat-form-field  class="alignInput">
                        <input matInput name = "password__c" placeholder="Password" type="password" required [(ngModel)]="password__c">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
</mat-card-content>

<mat-card-actions class="alignrows">
    <mat-grid-list  cols="2" rowHeight="4:1">
            <mat-grid-tile>   
    <button mat-button class="mat-primary aligntext" type="submit" [disabled]="!f.form.valid"><h3>Register</h3></button>
</mat-grid-tile>
    <mat-grid-tile> 
            <button mat-button class="alignInput" (click)="handleCancel()"><h3>Cancel</h3></button>
        </mat-grid-tile>
</mat-grid-list>
</mat-card-actions>

</mat-card>
</form>
</div>